<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div id="first">
        <div class='box1'>

        </div>
        <div class='box2'>
        
        </div>
        <div class='box3'>
            
        </div>
        <div class='box4'>
            
        </div>
        <div class='box5'>
            
        </div>
    </div>
    <div id="second">
        <div class='box1'>

        </div>
        <div class='box2'>
        
        </div>
        <div class='box3'>
            
        </div>
        <div class='box4'>
            
        </div>
        <div class='box5'>
            
        </div>
    </div>

    <div id="third">
        <div class='box1'>

        </div>
        <div class='box2'>
        
        </div>
        <div class='box3'>
            
        </div>
        <div class='box4'>
            
        </div>
        <div class='box5'>
            
        </div>
    </div>

    <div id="fourth">
        <div class='box1'>

        </div>
        <div class='box2'>
        
        </div>
        <div class='box3'>
            
        </div>
        <div class='box4'>
            
        </div>
        <div class='box5'>
            
        </div>
    </div>

    <div id="fifth">
        <div class='box1'>

        </div>
        <div class='box2'>
        
        </div>
        <div class='box3'>
            
        </div>
        <div class='box4'>
            
        </div>
        <div class='box5'>
            
        </div>
    </div>

    <div id="sixth">
        <div class='box1'>

        </div>
        <div class='box2'>
        
        </div>
        <div class='box3'>
            
        </div>
        <div class='box4'>
            
        </div>
        <div class='box5'>
            
        </div>
    </div>

    <form action="{{ url }}" method="POST">

    <div id="firstrow">
        <input type="text" class="text1" name="text1">
        <input type="text" class="text2" name="text2">
        <input type="text" class="text3" name="text3">
        <input type="text" class="text4" name="text4">
        <input type="text" class="text5" name="text5">
    </div>

    <div id="secondrow" style="transform: translate(0px, 74px);">
        <input type="text" class="text1" name="text1">
        <input type="text" class="text2" name="text2">
        <input type="text" class="text3" name="text3">
        <input type="text" class="text4" name="text4">
        <input type="text" class="text5" name="text5">
    </div>




    <div id="thirdrow" style="transform: translate(0px, 151px);">
        <input type="text" class="text1" name="text1">
        <input type="text" class="text2" name="text2">
        <input type="text" class="text3" name="text3">
        <input type="text" class="text4" name="text4">
        <input type="text" class="text5" name="text5">
    </div>

    <div id="fourthrow" style="transform: translate(0px, 230px);">
        <input type="text" class="text1" name="text1">
        <input type="text" class="text2" name="text2">
        <input type="text" class="text3" name="text3">
        <input type="text" class="text4" name="text4">
        <input type="text" class="text5" name="text5">
    </div> 

    <div id="fifthrow" style="transform: translate(0px, 305px);">
        <input type="text" class="text1" name="text1">
        <input type="text" class="text2" name="text2">
        <input type="text" class="text3" name="text3">
        <input type="text" class="text4" name="text4">
        <input type="text" class="text5" name="text5">
    </div> 

    <div id="sixthrow" style="transform: translate(0px, 382px)";>
        <input type="text" class="text1" name="text1">
        <input type="text" class="text2" name="text2">
        <input type="text" class="text3" name="text3">
        <input type="text" class="text4" name="text4">
        <input type="text" class="text5" name="text5">
    </div>


</form>
</body>
</html>