<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div id="first">
        {% if color11 == 'g' %}
        <div class='box1' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">

        </div>
        {% elif color11 == 'y' %}
        <div class='box1' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color11 == 'b' %}
        <div class='box1' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box1' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color12 == 'g' %}
        <div class='box2' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color12 == 'y' %}
        <div class='box2' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color12 == 'b' %}
        <div class='box2' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box2' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color13 == 'g' %}
        <div class='box3' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color13 == 'y' %}
        <div class='box3' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color13 == 'b' %}
        <div class='box3' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box3' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color14 == 'g' %}
        <div class='box4' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color14 == 'y' %}
        <div class='box4' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color14 == 'b' %}
        <div class='box4' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box4' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        
        {% if color15 == 'g' %}
        <div class='box5' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color15 == 'y' %}
        <div class='box5' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color15 == 'b' %}
        <div class='box5' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box5' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


    </div>
    <div id="second">
        {% if color21 == 'g' %}
        <div class='box1' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color21 == 'y' %}
        <div class='box1' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color21 == 'b' %}
        <div class='box1' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box1' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color22 == 'g' %}
        <div class='box2' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color22 == 'y' %}
        <div class='box2' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color22 == 'b' %}
        <div class='box2' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box2' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color23 == 'g' %}
        <div class='box3' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color23 == 'y' %}
        <div class='box3' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color23 == 'b' %}
        <div class='box3' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box3' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color24 == 'g' %}
        <div class='box4' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color24 == 'y' %}
        <div class='box4' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color24 == 'b' %}
        <div class='box4' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box4' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        
        {% if color25 == 'g' %}
        <div class='box5' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color25 == 'y' %}
        <div class='box5' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color25 == 'b' %}
        <div class='box5' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box5' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}
    </div>

    <div id="third">
        {% if color31 == 'g' %}
        <div class='box1' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color31 == 'y' %}
        <div class='box1' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color31 == 'b' %}
        <div class='box1' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box1' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color32 == 'g' %}
        <div class='box2' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color32 == 'y' %}
        <div class='box2' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color32 == 'b' %}
        <div class='box2' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box2' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color33 == 'g' %}
        <div class='box3' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color33 == 'y' %}
        <div class='box3' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color33 == 'b' %}
        <div class='box3' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box3' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color34 == 'g' %}
        <div class='box4' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color34 == 'y' %}
        <div class='box4' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color34 == 'b' %}
        <div class='box4' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box4' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        
        {% if color35 == 'g' %}
        <div class='box5' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color35 == 'y' %}
        <div class='box5' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color35 == 'b' %}
        <div class='box5' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box5' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}
        </div>
    </div>

    <div id="fourth">
        {% if color41 == 'g' %}
        <div class='box1' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color41 == 'y' %}
        <div class='box1' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color41 == 'b' %}
        <div class='box1' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box1' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color42 == 'g' %}
        <div class='box2' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color42 == 'y' %}
        <div class='box2' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color42 == 'b' %}
        <div class='box2' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box2' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color43 == 'g' %}
        <div class='box3' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color43 == 'y' %}
        <div class='box3' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color43 == 'b' %}
        <div class='box3' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box3' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color44 == 'g' %}
        <div class='box4' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color44 == 'y' %}
        <div class='box4' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color44 == 'b' %}
        <div class='box4' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box4' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        
        {% if color45 == 'g' %}
        <div class='box5' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color45 == 'y' %}
        <div class='box5' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color45 == 'b' %}
        <div class='box5' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box5' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}
    </div>

    <div id="fifth">
        {% if color51 == 'g' %}
        <div class='box1' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color51 == 'y' %}
        <div class='box1' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color51 == 'b' %}
        <div class='box1' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box1' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color52 == 'g' %}
        <div class='box2' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color52 == 'y' %}
        <div class='box2' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color52 == 'b' %}
        <div class='box2' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box2' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color53 == 'g' %}
        <div class='box3' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color53 == 'y' %}
        <div class='box3' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color53 == 'b' %}
        <div class='box3' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box3' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color54 == 'g' %}
        <div class='box4' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color54 == 'y' %}
        <div class='box4' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color54 == 'b' %}
        <div class='box4' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box4' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        
        {% if color55 == 'g' %}
        <div class='box5' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color55 == 'y' %}
        <div class='box5' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color55 == 'b' %}
        <div class='box5' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box5' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}
    </div>

    <div id="sixth">
        {% if color61 == 'g' %}
        <div class='box1' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color61 == 'y' %}
        <div class='box1' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color61 == 'b' %}
        <div class='box1' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box1' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color62 == 'g' %}
        <div class='box2' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color62 == 'y' %}
        <div class='box2' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color62 == 'b' %}
        <div class='box2' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box2' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color63 == 'g' %}
        <div class='box3' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color63 == 'y' %}
        <div class='box3' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color63 == 'b' %}
        <div class='box3' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box3' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        {% if color64 == 'g' %}
        <div class='box4' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color64 == 'y' %}
        <div class='box4' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color64 == 'b' %}
        <div class='box4' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box4' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}


        
        {% if color65 == 'g' %}
        <div class='box5' style="background-color: rgb(107, 170, 105);  border-style:solid; border-color: rgb(107, 170, 105); border-width: 2px">
        </div>
        {% elif color65 == 'y' %}
        <div class='box5' style="background-color: rgb(201, 180, 96);  border-style:solid; border-color: rgb(201, 180, 96); border-width: 2px">
        </div>
        {% elif color65 == 'b' %}
        <div class='box5' style="background-color: rgb(120, 124, 126);  border-style:solid; border-color: rgb(120, 124, 126); border-width: 2px">
        </div>
        {% else %}
        <div class='box5' style="background-color: white;  border-style:solid; border-color: gray; border-width: 2px">
        </div>
        {% endif %}
    </div>
    <div id="whole">
    <form action="{{ url }}" method="POST">

{% if first == True %}
    <div id="firstrow" style="transform: translate(0px, -10px);">
        <input type="text" class="text1" name="text1" maxlength="1" value="{{ value1 }}">
        <input type="text" class="text2" name="text2" maxlength="1" value="{{ value2 }}">
        <input type="text" class="text3" name="text3" maxlength="1" value="{{ value3 }}">
        <input type="text" class="text4" name="text4" maxlength="1" value="{{ value4 }}">
        <input type="text" class="text5" name="text5" maxlength="1" value="{{ value5 }}">
    </div>

{% endif %}

{% if second == True%}
  <div id="secondrow" style="transform: translate(0px, 74px);">
        <input type="text" class="text1" name="text1" maxlength="1" value="{{ value21 }}">
        <input type="text" class="text2" name="text2" maxlength="1" value="{{ value22 }}">
        <input type="text" class="text3" name="text3" maxlength="1" value="{{ value23 }}">
        <input type="text" class="text4" name="text4" maxlength="1" value="{{ value24 }}">
        <input type="text" class="text5" name="text5" maxlength="1" value="{{ value25 }}">
    </div> 
{% endif %}



{% if third == True%}
    <div id="thirdrow" style="transform: translate(0px, 151px);">
        <input type="text" class="text1" name="text1" maxlength="1" value="{{ value31 }}">
        <input type="text" class="text2" name="text2" maxlength="1" value="{{ value32 }}">
        <input type="text" class="text3" name="text3" maxlength="1" value="{{ value33 }}">
        <input type="text" class="text4" name="text4" maxlength="1" value="{{ value34 }}">
        <input type="text" class="text5" name="text5" maxlength="1" value="{{ value35 }}">
    </div> 
{% endif %}


{% if fourth == True %}
<div id="fourthrow" style="transform: translate(0px, 230px);">
        <input type="text" class="text1" name="text1" maxlength="1" value="{{ value41 }}">
        <input type="text" class="text2" name="text2" maxlength="1" value="{{ value42 }}">
        <input type="text" class="text3" name="text3" maxlength="1" value="{{ value43 }}">
        <input type="text" class="text4" name="text4" maxlength="1" value="{{ value44 }}">
        <input type="text" class="text5" name="text5" maxlength="1" value="{{ value45 }}">
    </div>
{% endif %}
    
{% if fifth == True%}

   <div id="fifthrow" style="transform: translate(0px, 305px);">
        <input type="text" class="text1" name="text1" maxlength="1" value="{{ value51 }}">
        <input type="text" class="text2" name="text2" maxlength="1" value="{{ value52 }}">
        <input type="text" class="text3" name="text3" maxlength="1" value="{{ value53 }}">
        <input type="text" class="text4" name="text4" maxlength="1" value="{{ value54 }}">
        <input type="text" class="text5" name="text5" maxlength="1" value="{{ value55 }}">
    </div> 
{% endif %}

{% if sixth == True%}

    <div id="sixthrow" style="transform: translate(0px, 382px)">
        <input type="text" class="text1" name="text1" maxlength="1" value="{{ value61 }}">
        <input type="text" class="text2" name="text2" maxlength="1" value="{{ value62 }}">
        <input type="text" class="text3" name="text3" maxlength="1" value="{{ value63 }}">
        <input type="text" class="text4" name="text4" maxlength="1" value="{{ value64 }}">
        <input type="text" class="text5" name="text5" maxlength="1" value="{{ value65 }}">
    </div>
{% endif %}

{% if seventh == True%}

    <div id="seventhrow" style="transform: translate(0px, 1002px);" >
        <input type="text" class="text1" name="text1" maxlength="1">
        <input type="text" class="text2" name="text2" maxlength="1">
        <input type="text" class="text3" name="text3" maxlength="1">
        <input type="text" class="text4" name="text4" maxlength="1">
        <input type="text" class="text5" name="text5" maxlength="1">
    </div>
{% endif %}

    
    <input type="submit" name="submit" id="submit" value="submit">



{% if second2 == True %}
    <div id="letterrow1" style="font-size:30px; color:white; font-family: Arial, Helvetica, sans-serif;">
        <p style="transform: translate(525px, -2005px); text-transform:uppercase;">{{letter11}}</p>
        <p style="transform: translate(605px, -2070px); text-transform:uppercase;">{{letter12}}</p>
        <p style="transform: translate(685px, -2135px); text-transform:uppercase;">{{letter13}}</p>
        <p style="transform: translate(765px, -2200px); text-transform:uppercase;">{{letter14}}</p>
        <p style="transform: translate(845px, -2265px); text-transform:uppercase;">{{letter15}}</p>     
    </div> 

{% endif %}

{% if third3 == True%}
    <div id="letterrow2" style="font-size:30px; transform: translate(0px, -245px);color:white; font-family: Arial, Helvetica, sans-serif;">
        <p style="transform: translate(525px, -2005px); text-transform:uppercase;">{{letter21}}</p>
        <p style="transform: translate(605px, -2070px); text-transform:uppercase;">{{letter22}}</p>
        <p style="transform: translate(685px, -2135px); text-transform:uppercase;">{{letter23}}</p>
        <p style="transform: translate(765px, -2200px); text-transform:uppercase;">{{letter24}}</p>
        <p style="transform: translate(845px, -2265px); text-transform:uppercase;">{{letter25}}</p>     
    </div> 
{% endif %}

{% if fourth4 == True%}
    <div id="letterrow3" style="font-size:30px; transform: translate(0px, -490px);color:white; font-family: Arial, Helvetica, sans-serif;">
        <p style="transform: translate(525px, -2005px); text-transform:uppercase;">{{letter31}}</p>
        <p style="transform: translate(605px, -2070px); text-transform:uppercase;">{{letter32}}</p>
        <p style="transform: translate(685px, -2135px); text-transform:uppercase;">{{letter33}}</p>
        <p style="transform: translate(765px, -2200px); text-transform:uppercase;">{{letter34}}</p>
        <p style="transform: translate(845px, -2265px); text-transform:uppercase;">{{letter35}}</p>     
    </div> 

{% endif %}

{% if fifth5 == True%}
    <div id="letterrow4" style="font-size:30px; transform: translate(0px, -720px);color:white; font-family: Arial, Helvetica, sans-serif;">
        <p style="transform: translate(525px, -2005px); text-transform:uppercase;">{{letter41}}</p>
        <p style="transform: translate(605px, -2070px); text-transform:uppercase;">{{letter42}}</p>
        <p style="transform: translate(685px, -2135px); text-transform:uppercase;">{{letter43}}</p>
        <p style="transform: translate(765px, -2200px); text-transform:uppercase;">{{letter44}}</p>
        <p style="transform: translate(845px, -2265px); text-transform:uppercase;">{{letter45}}</p>     
    </div> 
{% endif %}

{% if sixth6 == True %}
    <div id="letterrow5" style="font-size:30px; transform: translate(0px, -970px);color:white; font-family: Arial, Helvetica, sans-serif;">
        <p style="transform: translate(525px, -2005px); text-transform:uppercase;">{{letter51}}</p>
        <p style="transform: translate(605px, -2070px); text-transform:uppercase;">{{letter52}}</p>
        <p style="transform: translate(685px, -2135px); text-transform:uppercase;">{{letter53}}</p>
        <p style="transform: translate(765px, -2200px); text-transform:uppercase;">{{letter54}}</p>
        <p style="transform: translate(845px, -2265px); text-transform:uppercase;">{{letter55}}</p>     
    </div> 

{% endif %}


{% if seventh7 == True %}
<div id="letterrow6" style="font-size:30px; transform: translate(0px, -1205px); color:white; font-family: Arial, Helvetica, sans-serif;">
    <p style="transform: translate(525px, -2005px); text-transform: uppercase;">{{letter61}}</p>
    <p style="transform: translate(605px, -2070px); text-transform: uppercase;">{{letter62}}</p>
    <p style="transform: translate(685px, -2135px); text-transform: uppercase;">{{letter63}}</p>
    <p style="transform: translate(765px, -2200px); text-transform: uppercase;">{{letter64}}</p>
    <p style="transform: translate(845px, -2265px); text-transform: uppercase;">{{letter65}}</p>     
</div> 
{% endif %}
{% if clear == True %}


{% endif %}
</form>

{% if sad == True %}
<p style="transform: translate(580px, -4020px); font-size:30px; color:rgb(0, 0, 0);">The Word is {{ word }}</p>
{% endif %}
{% if happy == True %}
<p style="transform: translate(580px, -4020px); font-size:30px; color:rgb(0, 0, 0);">You Win!</p>
{% endif %}
</body>
</html>